@charset "utf-8";

@media screen and (max-width:992px) {

    
   

    #header .hamburger {
        position:absolute; right:10px; 
        top:50%; transform:translateY(-50%);
        font-size:23px; display: block;
    }

    #header #nav { position:absolute; top:100%; 
        left: 0px;
        right: 0px;  
        width: 100%;
        z-index:999999; 
        background:#fff; 
        display:none;  
    
        
    }

    #nav .depth1 > li  { float: none;
        font-weight: 800;
        position: relative; 
        color: #1f262d;  
        font-size: 12px;
        margin: 0;
        padding: 0 0;
        cursor: pointer;
        
    }

    #nav .depth1 > li > a {
        display: block;
        padding: 22px 20px;

    }

    #nav .depth2{
        position: static;
        display: none;
        margin: 0px; top: 100%; left: 0;
        font-weight: 400;
        color: #f7f7f7;
        width: 100%; 
        padding: 10px 0;
        background: #2b2b2b
        
        
        
        
    }
    
    
}